<div class="weather-fivedays-box">
    <h3 class="weather-fivedays-box__city">Vinnytsia, UA</h3>
    <div class="weather-wrapper">
        <ul class="weather-fivedays__list">
            <li class="weather-fivedays__items">
                <p class="weather-fivedays__item-day">
                    Tuesday
                </p>
                <div class="weather-fivedays__item-date">
                    26 May
                </div>

                <img class="weather-fivedays__item-icon" src="https://openweathermap.org/img/w/10d.png"
                    alt="weather-ico" />

                <div class="weather-fivedays-cont">
                    <div class="weather-fivedays-mintemp">
                        <span class="weather-fivedays-minsp">min</span><br /><span
                            class="weather-fivedays_minsptemp">25&deg;</span>
                    </div>
                    <div class="weather-fivedays-maxtemp">
                        <span class="weather-fivedays-minsp">max</span><br /><span
                            class="weather-fivedays_minsptemp">25&deg;</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>