* {
  outline: 1px solid red;
}

* html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-color: rgb(188, 229, 202);
  background-size: cover;
}

.container {
  width: 940px;
  margin: 0 auto;
}
.search__form {
  text-align: center;
  padding-top: 28px;
  position: relative;
  margin-bottom: 14px;
}

#search-input {
  background-color: aquamarine;
  width: 446px;
  padding-left: 60px;
  font-size: 18px;
  height: 48px;
  border-radius: 27px;
  outline: none;
  border: none;
}

.weather-info {
  width: 492px;
  height: 207px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.wether-img {
  width: 40px;
  height: 40px;
}

.weather-main-temp {
  font-size: 20px;
}

.weather-minmax-cont {
  display: flex;
}

.weather-mintemp {
  text-align: center;
  display: inline-block;
}

.minsp {
  font-size: 9px;
}
